[Unit]
Description=FanTasTic media controller
After=multi-user.target

[Service]
User=pi
UMask=0002
WorkingDirectory=/home/pi/Fan-Tas-Tic-machine/
ExecStartPre=/usr/bin/pulseaudio -D
ExecStart=/usr/local/bin/mpf mc -Pt
Environment="SDL_AUDIODRIVER=pulse"
Restart=always
RestartSec=30
TimeoutStopSec=3

[Install]
WantedBy=multi-user.target

