[Unit]
Description=FanTasTic pinball machine
After=multi-user.target
Requires=fantastic_mc.service

[Service]
UMask=0002
WorkingDirectory=/home/pi/Fan-Tas-Tic-machine/
ExecStart=/usr/local/bin/mpf -Pt
Restart=always
RestartSec=30
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target

